BOT_TOKEN=7040581622:AAGF-luIPYhb6WGVJNHYA6JOojZ-sM5TbP0
ADMIN_IDS=123456789,987654321

DB_HOST=localhost
DB_PORT=5432
DB_NAME=consp_bot
DB_USER=postgres
DB_PASSWORD=

# REPORT_CHANNEL_ID=-1001234567890


